extends layout

block content

  link(href="/ng-cms/styles.3ff695c00d717f2d2a11.css")

  app-root

  script(src='/ng-cms/runtime.a5dd35324ddfd942bef1.js')
  script(src='es2015-polyfills.5eb5e9de9e7e4b86bc47.js' nomodule)
  script(src='/ng-cms/polyfills.407a467dedb63cfdd103.js')
  script(src='/ng-cms/main.2fa7ef914f9a2d64afb9.js')